.input {
  padding: 12px 22px;
  font-family: var(--font-type-text);
  text-align: center;
  border: none;
  text-transform: uppercase;
  background-color: var(--font-color);
  box-shadow: -2px -2px 86px 5px rgba(255, 255, 255, 0.55);
  -webkit-box-shadow: -2px -2px 86px 5px rgba(255, 255, 255, 0.55);
  -moz-box-shadow: -2px -2px 86px 5px rgba(255, 255, 255, 0.55);
}

.input_animated {
  animation: input 1.5s ease-out infinite;
}

.input:focus {
  outline: none;
}

.input:disabled {
  background-color: #fff;
  border: none;
  padding: 12px 22px;
}

.input::placeholder {
  font-family: var(--font-type-heading);
  font-size: 15px;
}

.input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: var(--font-type-heading);
  font-size: 15px;
}
.input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: var(--font-type-heading);
  font-size: 15px;
}

@keyframes input {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.links {
  margin-top: 5px;
  color: var(--font-color);
  font-family: var(--font-type-heading);
  font-size: 20px;
}

.selected_link {
  color: #ffff00;
}

.selected_link_font {
  font-size: 30px;
  transition: font-size 0.5s;
}
