.circle {
  background-color: var(--font-color);
  padding: 10px 10px;
  border-radius: 50%;
  position: fixed;
  text-align: center;
  z-index: 10;
  top: 52%;
  left: 62%;

  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.circle:hover {
  cursor: pointer;
}
