.circle {
  padding: 10px 10px;
  border-radius: 50%;
  position: fixed;
  text-align: center;
  z-index: 10;
  top: 52%;
  left: 62%;
  background: radial-gradient(
    circle at 50% 120%,
    #43385e,
    #0a0a0a 80%,
    #000000 100%
  );
}

.circle:hover {
  cursor: pointer;
}
