.keys_align {
  display: flex;
  line-height: 2em;
  padding: 8px 8px;
  font-size: 18px;
  width: 100%; 
}

.keys_hover {
  padding: 0px 4px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.keys_hover:hover {
  background-color: var(--font-color);
  color: #000;
}

.keys_margin {
  margin-left: 15px;
}

.space_key {
  margin: 20px auto;
  width: 150px;
  height: 20px;
  background-color: var(--font-color);
}

.space_key:hover {
  background-color: #000;
  border: 2px solid var(--font-color);
}

.wrapper {
  position: fixed;
  top: 100%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  transform: translate(-50%, -100%);
  color: var(--font-color);
  font-family: var(--font-type-heading);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: 100;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
